###################################################################################################
visible_hostname   {{ grains['fqdn'] }}
{{ pillar['12_1T'] }}
{{ pillar['2_1T'] }}

test   {{ grains['shencan'] }}
